@import 'tailwindcss';
@import '../styles/theme.css';

/* @config '../tailwind.config.ts'; */

/* 为 WebKit 浏览器（Chrome 和 Safari）设置滚动条样式 */
/* 这些样式可能无法在所有浏览器上生效 */
/* 你可以根据需要进一步定制样式 */

/* 轨道（滚动条背景） */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  /* 滚动条宽度 */
}

/* 滑块 */
::-webkit-scrollbar-thumb {
  background-color: rgb(136, 136, 136, 0.6);
  /* 滑块颜色 */
  border-radius: 4px;
  /* 滑块圆角 */
}

/* 滑块悬停态 */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(139, 175, 212);
  /* 悬停态颜色 */
}

/* number 类型的 input 隐藏箭头 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bg0 {
  @apply bg-grey-0;
  @variant dark {
    @apply bg-my-dark-bg0;
  }
}

.bg1 {
  @apply bg-grey-1;
  @variant dark {
    @apply bg-my-dark-bg1;
  }
}

.bg1-loading {
  @apply bg-grey-3;
  @variant dark {
    @apply bg-my-dark-bg1/50;
  }
}

.bg2 {
  @apply bg-grey-2;
  @variant dark {
    @apply bg-my-dark-bg2;
  }
}

.bg3 {
  @apply bg-grey-3;
  @variant dark {
    @apply bg-my-dark-bg3;
  }
}

.bg4 {
  @apply bg-my-bg;
  @variant dark {
    @apply bg-my-dark-bg3;
  }
}

.border0 {
  @apply border-my-border;
  @variant dark {
    @apply border-my-darkborder;
  }
}

.btn-confirm {
  @apply bg-my-primary cursor-pointer rounded-lg px-4 py-2 whitespace-nowrap text-white;
  @variant hover {
    @apply bg-my-primary-hover;
  }
  @variant dark {
    @apply bg-my-dark-primary;
    @variant hover {
      @apply bg-my-dark-primary-hover;
    }
  }
}

.btn-delete {
  @apply bg-my-danger cursor-pointer rounded-lg px-4 py-2 whitespace-nowrap text-white;
  @variant hover {
    @apply bg-my-danger-hover;
  }
  @variant dark {
    @apply bg-my-dark-danger;
    @variant hover {
      @apply bg-my-dark-danger-hover;
    }
  }
}

.btn-cancel {
  @apply bg-my-tertiary cursor-pointer rounded-lg px-4 py-2 whitespace-nowrap text-white;
  @variant hover {
    @apply bg-my-tertiary-hover;
  }
  @variant dark {
    @apply bg-my-dark-tertiary;
    @variant hover {
      @apply bg-my-dark-tertiary-hover;
    }
  }
}

.checkbox {
  @apply bg-grey-1 ring-offset-grey-1 text-my-primary cursor-pointer appearance-none rounded-sm ring-2 ring-offset-2;
  @variant checked {
    @apply bg-my-primary;
  }

  @variant dark {
    @apply bg-my-dark-bg1 ring-offset-my-dark-bg1 text-my-dark-primary;
    @variant checked {
      @apply bg-my-dark-primary;
    }
  }
}
