@tailwind base;
@tailwind components;
@tailwind utilities;

/* 为 WebKit 浏览器（Chrome 和 Safari）设置滚动条样式 */
/* 这些样式可能无法在所有浏览器上生效 */
/* 你可以根据需要进一步定制样式 */

/* 轨道（滚动条背景） */
::-webkit-scrollbar {
    width: 8px;
    /* 滚动条宽度 */
}

/* 滑块 */
::-webkit-scrollbar-thumb {
    background-color: #a0aec0;
    /* 滑块颜色 */
    border-radius: 6px;
    /* 滑块圆角 */
}

/* 滑块悬停态 */
::-webkit-scrollbar-thumb:hover {
    background-color: #718096;
    /* 悬停态颜色 */
}