.prose-custom h1 {
  margin: 0.5rem 0;
}

.prose-custom h2 {
  margin: 0.5rem 0;
}

.prose-custom p {
  margin: 0.25rem 0.5rem;
}

.prose-custom pre {
  margin: 0.25rem;
  padding: 0.75rem;
}

.prose-custom table {
  margin: 0.25rem 0;
  padding: 0.25rem 0;
}

.prose-custom blockquote {
  margin: 0.5rem;
}

.inline-code {
  padding: 0.25rem;
}

.inline-code::before,
.inline-code::after {
  content: '';
}
